.main-content{
    padding: 3rem;
    background: #f0eeee33;
    min-height: 100vh;

    .heading{
        color: #000;
        font-size: 2rem;
        font-weight: 400;
        width: 60%;
        margin-left: 1rem;

        span{
            color: #9f0bcc;
        }
    }

 

   
}