.item-list-container{
    // border: 2px solid green;
    
    .item-list{
        // border: 2px solid red;
        height: 100%;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        list-style: none;
        font-weight: 600;
        font-size: 1.15rem;
    }
}